<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Créer un article</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    </head>
    <body>
        <header>
            <nav>
                <a href="index.html"><i class="fas fa-arrow-left"></i> <span> Retour à la home</span></a>
                <div>
                    <a href="createpost.html">Créer un article</a>
                </div>
                <div id="userId">
                    <a :href="`user.html?id=${userId}`">Mon compte</a>
                </div>
                <button id="logOut">Déconnexion</button>
                <div id="admin" v-if="admin">
                    <a href="admin.html" id="admin">Espace Admin</a>
                </div>
            </nav>
        </header>
        <div id="root">
            <form @submit.prevent="createPost">
                <div>
                    <label for="post_title">Titre</label>
                    <input type="text" v-model="post_title" placeholder="Titre" />
                </div>
                <div>
                    <label for="post_content">Contenu</label>
                    <textarea v-model="post_content" cols="30" rows="10" placeholder="Contenu"></textarea>
                </div>
                <input type="file" v-model="post_file" accept="image/*" />
                <button type="submit">Créer un article</button>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="createpost.js"></script>
        <script src="main.js"></script>
    </body>
</html>
