<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <title id="title">{{title}}</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="index.html"><i class="fas fa-arrow-left"></i> <span> Retour à la home</span></a>
                <div>
                    <a href="createpost.html">Créer un article</a>
                </div>
                <div id="userId">
                    <a :href="`user.html?id=${userId}`">Mon compte</a>
                </div>
                <button id="logOut">Déconnexion</button>
                <div id="admin" v-if="admin">
                    <a href="admin.html" id="admin">Espace Admin</a>
                </div>
            </nav>
        </header>
        <main id="root">
            <span v-if="updateMessage">{{updateMessage}}</span>
            <div v-if="isAuthor">
                <form @submit.prevent="updatePost">
                    <input type="text" v-model="post.post_title" />
                    <textarea v-model="post.post_content" cols="30" rows="10">{{post.post_content}}</textarea>
                    <button type="submit">Modifier mon article</button>
                </form>
                <p>
                    le : {{post.post_date_creation}}
                </p>
                <p v-if="post.post_date_update">
                    Modifié le : {{post.post_date_update}}
                </p>
            </div>
            <div v-else>
                <h1>
                    {{post.post_title}}
                </h1>
                <p>
                    {{post.post_content}}
                </p>
                <p>
                    écrit par : {{post.user_first_name}} {{post.user_last_name}}
                </p>
                <p>
                    le : {{post.post_date_creation}}
                </p>
                <p v-if="post.post_date_update">
                    Modifié le : {{post.post_date_update}}
                </p>
                <p>ID : {{post.user_id}}</p>
            </div>
            <button v-if="!isPostValidate && currentUserId == 1" @click="validatePost">Valider l'article</button>
            <button v-if="isAuthor || currentUserId == 1" @click="deletePost">Supprimer l'article</button>
            <form v-if="isPostValidate" @submit.prevent="commentPost">
                <textarea v-model="comment" cols="30" rows="10"></textarea>
                <button type="submit">Commenter</button>
            </form>
            <section>
                <h2>
                    Commentaires
                </h2>
                <div v-if="comments.length > 0">
                    <ul>
                        <li v-for="comment in comments" v-bind:id=" `comment${comment.comment_id}` ">
                            <div v-if="comment.user_id == currentUserId && comment.comment_state == 1 && comment.comment_id ">
                                <form @submit.prevent="updateComment(comment)">
                                    <textarea v-model="comment.comment_content" cols="30" rows="10">{{comment.comment_content}}</textarea>
                                    <button type="submit">Modifier le commentaire</button>
                                </form>
                            </div>
                            <div v-else>
                                Auteur : <a :href="`user.html?id=${comment.user_id}`">{{comment.user_first_name}} {{comment.user_last_name}} </a> <br />
                                Date : {{comment.comment_date_creation}} <br />
                                <div v-if="comment.comment_date_update">
                                    <span v-if="comment.comment_date_update"> Modifié le : {{comment.comment_date_update}}</span>
                                </div>
                                Contenu : {{comment.comment_content}} <br /><br />
                            </div>
                            <button v-if="comment.user_id == currentUserId || currentUserId == 1" @click="deleteComment(comment)">Supprimer le commentaire</button>
                            <button v-if="comment.comment_state == 0" v-on:click="validateComment(comment)">Valider le commentaire</button>
                            <br /><br />
                        </li>
                    </ul>
                </div>
                <span v-else>Il n'y a pas de commentaires pour le moment</span>
            </section>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="post.js"></script>
        <script src="main.js"></script>
    </body>
</html>
