@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: rgba(239, 239, 239, 0.5);
}

a {
  font-weight: 700;
  color: #24314a;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: #004182;
}

.form {
  text-align: center;
  margin-bottom: 48px;
}

.form input,
.form textarea {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  padding: 8px;
  outline: none;
  background-color: white;
  font-family: "Rubik", sans-serif;
}

.form input,
.form textarea, .form__btn {
  display: block;
  margin: 0 auto 24px;
  width: 250px;
}

.form__message {
  margin-bottom: 24px;
  display: inline-block;
  color: #13a05f;
}

.form__message--error {
  color: #f93104;
}

.form__back {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 24px;
}

.form--updatePost {
  text-align: left;
}

.form--comment {
  margin-bottom: 24px;
}

.container, .main {
  padding: 0 30px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container, .main {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .main {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .main {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .main {
    width: 1140px;
  }
}

.section {
  padding: 60px 0;
}

.section__articleInfos {
  text-align: right;
  margin-bottom: 16px;
}

.section__title {
  margin-bottom: 48px;
  text-align: center;
  font-size: 36px;
}

.section__content {
  text-align: center;
  margin-bottom: 30px;
}

.section__hero {
  margin-bottom: 24px;
}

.section__infos {
  text-align: center;
}

.section__illu {
  background-size: cover !important;
  height: 300px;
  margin-bottom: 60px;
}

.section--hero {
  text-align: center;
}

.section--hero .section__title {
  margin-bottom: 36px;
  font-size: 48px;
}

.section--createPost .form, .section--article .form {
  max-width: 700px;
  margin: auto;
}

.section--createPost .form input,
.section--createPost .form textarea, .section--createPost .form__btn, .section--article .form input,
.section--article .form textarea, .section--article .form__btn {
  width: 100%;
  border: 2px solid rgba(16, 16, 16, 0.3);
}

.section--createPost .form input[type="file"], .section--article .form input[type="file"] {
  border: none;
}

.section--createPost .form .btn, .section--article .form .btn {
  display: block;
  margin-left: auto;
}

.section--activity {
  padding-top: 0;
}

@media (min-width: 1200px) {
  .section--article {
    padding: 0px 50px;
  }
}

.section--article .section__content {
  text-align: left;
}

.section--article .btn {
  margin-bottom: 48px;
}

.section--commentaire .section__title {
  text-align: left;
  margin-bottom: 32px;
}

.section--commentaire .section__subtitle {
  margin-bottom: 8px;
}

.section--commentaire textarea {
  border: 2px solid rgba(16, 16, 16, 0.3);
}

.section--commentaire .comment {
  margin-left: 0;
}

.btn {
  margin-bottom: 16px;
  border: none;
  padding: 10px 20px;
  background-color: #24314a;
  border: 2px solid #24314a;
  color: #fafcfe;
  font-family: "Rubik", sans-serif;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #fafcfe;
  color: #24314a;
}

.btn--disabled {
  cursor: not-allowed;
  color: rgba(16, 16, 16, 0.3);
  background-color: rgba(239, 239, 239, 0.5);
}

.btn--disabled:hover {
  background-color: rgba(239, 239, 239, 0.5);
  color: rgba(16, 16, 16, 0.3);
}

.btn--grey {
  color: #fafcfe;
  background-color: rgba(16, 16, 16, 0.3);
  border: 2px solid rgba(16, 16, 16, 0.3);
}

.btn--grey:hover {
  background-color: #fafcfe;
  color: rgba(16, 16, 16, 0.3);
}

.btn--red {
  border: 2px solid #f93104;
  background-color: #f93104;
}

.btn--red:hover {
  background-color: #fafcfe;
  color: #f93104;
}

.btn--green {
  border: 2px solid #13a05f;
  background-color: #13a05f;
}

.btn--green:hover {
  background-color: #fafcfe;
  color: #13a05f;
}

.cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
}

@media (min-width: 768px) {
  .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.card, .comment {
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card:hover .card__illu, .comment:hover .card__illu {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.card__illuCnt {
  height: 200px;
  border-radius: 8px 8px 0 0;
  border: 1px solid rgba(16, 16, 16, 0.3);
  overflow: hidden;
}

.card__illu {
  height: 100%;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  background-size: cover !important;
}

.card__body, .comment__body {
  color: #000203;
  padding: 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100% - 200px);
  border-radius: 0 0 8px 8px;
  border: 1px solid rgba(16, 16, 16, 0.3);
  border-top: none;
}

.card__title, .card__content {
  margin-bottom: 24px;
}

.card__author {
  position: relative;
  z-index: 3;
  display: inline-block;
  margin-bottom: 16px;
}

.card__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card__comment {
  color: rgba(16, 16, 16, 0.3);
}

.card__like {
  color: #f93104;
}

.card__number {
  padding: 0px 8px;
}

.userActivity__activity {
  padding: 0px 15px;
}

@media (min-width: 768px) {
  .userActivity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .userActivity__activity {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 3);
            flex: 0 0 calc(100% / 3);
  }
}

.main {
  background-color: white;
  padding: 0;
}

.content {
  padding-top: 48px;
}

.comment {
  max-width: 400px;
  margin: 0 auto 16px;
  border: 2px solid rgba(16, 16, 16, 0.3);
}

.comment__body {
  border: none;
}

.comment__content {
  margin-bottom: 8px;
}

.filter {
  margin: 48px 0;
  text-align: center;
}

.filter__btnCnt {
  padding: 0px 15px;
  margin-bottom: 10px;
  display: inline-block;
}

.filter__btn {
  font-size: 24px;
  background-color: white;
  border: 2px solid #24314a;
  color: #24314a;
}

.filter__btn:hover {
  color: white;
  background-color: #24314a;
}

.filter__btn--active {
  color: white;
  background-color: #24314a;
  cursor: auto;
}

.filter__btn--active:hover {
  background-color: #24314a;
}

.filter__btn--validation {
  border: 2px solid rgba(16, 16, 16, 0.3);
  color: rgba(16, 16, 16, 0.3);
}

.filter__btn--validation:hover {
  background-color: rgba(16, 16, 16, 0.3);
}

.filter__btn--validation.filter__btn--active {
  background-color: rgba(16, 16, 16, 0.3);
  color: white;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr:nth-of-type(odd) {
  background: rgba(239, 239, 239, 0.5);
}

.table th {
  background: #24314a;
  color: white;
  font-weight: bold;
}

.table td,
.table th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

.table td {
  padding: 20px;
  padding-left: 6px;
}

.table__link {
  text-align: center !important;
}

@media (max-width: 1199px) {
  .table,
  .table thead,
  .table tbody,
  .table th,
  .table td,
  .table tr {
    display: block;
  }
  .table__link {
    text-align: left !important;
  }
  .table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table tr {
    border: 1px solid #ccc;
  }
  .table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  .table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .table td:nth-of-type(1):before {
    content: "ID";
  }
  .table td:nth-of-type(2):before {
    content: "Date de création";
  }
  .table td:nth-of-type(3):before {
    content: "Date de modification";
  }
  .table td:nth-of-type(4):before {
    content: "Prénom";
  }
  .table td:nth-of-type(5):before {
    content: "Nom";
  }
  .table td:nth-of-type(6):before {
    content: "E-mail";
  }
  .table td:nth-of-type(7):before {
    content: "Poste";
  }
  .table--posts td:nth-of-type(4):before {
    content: "Titre";
  }
  .table--posts td:nth-of-type(5):before {
    content: "Auteur";
  }
  .table--posts td:nth-of-type(6):before {
    display: none;
  }
  .table--comments {
    color: red;
  }
  .table--comments td:nth-of-type(2):before {
    content: "ID Article" !important;
  }
  .table--comments td:nth-of-type(3):before {
    content: "Date de création";
  }
  .table--comments td:nth-of-type(4):before {
    content: "Date de modification";
  }
  .table--comments td:nth-of-type(5):before {
    content: "Contenu";
  }
  .table--comments td:nth-of-type(6):before {
    content: "Auteur";
  }
  .table--comments td:nth-of-type(7):before {
    display: none;
  }
  .table--likes td:nth-of-type(3):before {
    content: "ID Article";
  }
  .table--likes td:nth-of-type(4):before {
    content: "Auteur";
  }
  .table--likes td:nth-of-type(5):before {
    display: none;
  }
  .table--userToValidate td:nth-of-type(3):before {
    content: "Prénom";
  }
  .table--userToValidate td:nth-of-type(4):before {
    content: "Nom";
  }
  .table--userToValidate td:nth-of-type(5):before {
    content: "E-mail";
  }
  .table--userToValidate td:nth-of-type(6):before {
    content: "Poste";
  }
  .table--userToValidate td:nth-of-type(7):before {
    display: none;
  }
}

#header {
  background-color: white;
  padding: 15px 0;
}

#header .container, #header .main {
  padding: 0px 15px;
}

#header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .nav__img {
  width: 50px;
}

@media (min-width: 768px) {
  #header .nav__img {
    display: none;
  }
}

#header .nav__img--desktop {
  display: none;
  width: 200px;
}

@media (min-width: 768px) {
  #header .nav__img--desktop {
    display: block;
  }
}

#header .nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .nav__item {
  cursor: pointer;
  padding: 8px;
  font-size: 32px;
}

#header .nav__item:last-child {
  padding-right: 0;
}

#header .nav__link {
  padding: 8px;
}

#header a {
  color: #f93104;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 16px;
  z-index: 999;
}

.likes {
  font-size: 20px;
  text-align: right;
}

.likes__heart {
  color: #f93104;
  cursor: pointer;
}

.alert {
  background-color: #13a05f;
  margin-bottom: 24px;
  padding: 16px;
  color: white;
}

#preview .previewImg {
  max-width: 100%;
}
/*# sourceMappingURL=style.css.map */