.table {
    width: 100%;
    border-collapse: collapse;
    tr:nth-of-type(odd) {
        background: $lightGrey;
    }
    th {
        background: $primary;
        color: white;
        font-weight: bold;
    }
    td,
    th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }
    td {
        padding: 20px;
        padding-left: 6px;
    }
    &__link {
        text-align: center !important;
    }
    @include desktop-down {
        &,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
        &__link {
            text-align: left !important;
        }
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr {
            border: 1px solid #ccc;
        }
        td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }
        td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
        td:nth-of-type(1):before {
            content: "ID";
        }
        td:nth-of-type(2):before {
            content: "Date de création";
        }
        td:nth-of-type(3):before {
            content: "Date de modification";
        }
        td:nth-of-type(4):before {
            content: "Prénom";
        }
        td:nth-of-type(5):before {
            content: "Nom";
        }
        td:nth-of-type(6):before {
            content: "E-mail";
        }
        td:nth-of-type(7):before {
            content: "Poste";
        }
        &--posts {
            td:nth-of-type(4):before {
                content: "Titre";
            }
            td:nth-of-type(5):before {
                content: "Auteur";
            }
            td:nth-of-type(6):before {
                display: none;
            }
        }
        &--comments {
            td:nth-of-type(2):before {
                content: "ID Article" !important;
            }
            td:nth-of-type(3):before {
                content: "Date de création";
            }
            td:nth-of-type(4):before {
                content: "Date de modification";
            }
            td:nth-of-type(5):before {
                content: "Contenu";
            }
            td:nth-of-type(6):before {
                content: "Auteur";
            }
            td:nth-of-type(7):before {
                display: none;
            }
        }
        &--likes {
            td:nth-of-type(3):before {
                content: "ID Article";
            }
            td:nth-of-type(4):before {
                content: "Auteur";
            }
            td:nth-of-type(5):before {
                display: none;
            }
        }
        &--user {
            td:nth-of-type(3):before {
                content: "Date de modification";
            }
            td:nth-of-type(4):before {
                content: "Prénom";
            }
            td:nth-of-type(5):before {
                content: "Nom";
            }
            td:nth-of-type(6):before {
                content: "E-mail";
            }
            td:nth-of-type(7):before {
                content: "Poste";
            }
        }
    }
}
